# systemd service file
# /usr/lib/systemd/system/clam-watcher.service
[Unit]
Description=ClamAV Upload Scanner

[Service]
# CHANGE THIS PATH
ExecStart=/home/scanner/watcher.sh
Restart=always

[Install]
WantedBy=multi-user.target
